.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 80vw;
}

.container .info {
  padding: 1rem;
  margin: 1rem;
  max-width: fit-content;
  color: hsl(0, 0%, 85%);
  background-color: hsl(0, 0%, 15%);
  border-radius: 1rem;
}

.container .fact {
  text-align: center;
}
